#!/usr/bin/env bash

alias brewdeps="brew deps --tree --installed --formulae"
alias config="code ~/.dotfiles"
alias reload="source ~/.zshrc"
alias repos="open ~/Github"
alias spacer="defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'; killall Dock"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
