#!/usr/bin/env bash

alias config="code ~/.dotfiles"
alias reload="source ~/.zshrc"
alias repos="open ~/Github"
alias spacer="defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'; killall Dock"
